.painelAdmin {
    background-color: #596476;
    max-width: 2000px;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.contentAdmin{
    border: 1px solid #fff;
    border-radius: 10px;
    height: 100%;
    display: flex;
    padding: 20px;
    background-color: #ffffff10;
}

.row{
    width: 100%;
    display: flex;
    height: 50%;
    gap: 20px;
    padding: 10px;
}

.cadastros{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
}

.cadastros > div{
    padding: 20px;
    height: 100%;
    position: relative;
}

.cadastros h1{
    font-size: 2.3rem;
}

.frase{
    padding: 20px 0;
}

.frase h5{
    opacity: .4;
    padding: 10px 0;
}

.cadastros > div button{
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 120px;
    height: 30px;
    background: #251BFF;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

.cadastros img{
    height: 100%;
    border-radius: 0 10px 10px 0;
}



.loguinInfo{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.loguinInfo img{
    width: 160px;
}

.infoUser{
    width: 200px;
    height: 80px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.infoUser div{
    background-color: #596476;
    width: auto;
    min-width: 80px;
    padding:  4px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
}

.infoCadastros{
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
}

.notas{
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
}

.ferramentas{
    max-width: 250px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
}

.modalCadastros{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    top: 0;
    left: 0;
}

.linksFerramentas{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.linksFerramentas a{
    color: #000;
}

.linksFerramentas a:hover{
    color: #000000b4;
    text-decoration: underline;
}